.product{
    display: flex;
    border-bottom: 1px solid gray;
}
.product-name{
    color: blue;
    margin-left: 8px;
    font-weight: 700;
    margin-left: 26px;
}
.owner{
    color: black;
    margin-left: 8px;
    font-weight: 700;
    margin-left: 26px; 
}

.price{
    color: black;
    margin-left: 8px;
    margin-left: 26px; 
    font-size: 14px;
}
.button-name{
     margin-left: 26px; 
     background-color: goldenrod;
     margin-bottom: 3px;
     width: 150px;
     border: 1px solid goldenrod;
     border-radius: 5px;
     cursor: pointer;
}